extends layout

block content
  header
    h1
      span.connect Connect
      span.four 4

    p #{title}

  main
    section#call
      figure.videos-container
        video(
          id="peer-video"
          autoplay
        )
        video(
          id="self-video"
          autoplay
          muted
          playsinline
        )

      button#call-button Start Call

      section#chat-panel
        ul#message-container
        form#message-form(action="#null")
          input#message-input(type="text")
          button#send-button(type="submit") Send

    section#board
      article#gameboard

  script.
     window.NAMESPACE = "#{namespace}";
