extends layout

block content
  header
    h1 Connect4
    p #{title}

  main
    section#call
      figure.videos-container
        video(
          id="peer-video"
          autoplay
        )
        video(
          id="self-video"
          autoplay
          muted
          playsinline
        )

        button#call-button Start Call

      section#chat-panel
        form#message-form(action="")
          input#message-input(type="text")
          button#send-button(type="submit") Send
        ul#message-container

  script.
     window.NAMESPACE = "#{namespace}";
