extends layout

block content
  header
    title Login Page
    h1
      span.connect Connect
      span.four 4

  main.loginColumn
    secion#login-page
      section#login
        form(action="login" method="POST")
          h1#loginHeader Sign in
          input(type="text" name="username" placeholder="username" required autofocus)
          input(type="password" name="password" placeholder="password" required)
          button#login-btn Login
